<div data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-use.navigationBar="com.epam.sap.developers.core.models.NavigationBar"
     data-sly-call="${clientlib.css @ categories='SAP.developers.bootstrap.resp,SAP.developers.bootstrap,SAP.developers.base,SAP.developer.structure.navbar'}"
     data-sly-test.mainPageData="${navigationBar.simpleLinkOfMainPage}"></div>

<div class="custom_navbar">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="${mainPageData.linkURL @extension='html'}"><span class="sap">SAP</span>
                    ${navigationBar.siteTitle}</a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="${mainPageData.cssClass}">
                            <a href="${mainPageData.linkURL @extension='html'}">${mainPageData.linkTitle}</a>
                        </li>
                        <div data-sly-list.navbarItem="${navigationBar.secondLevelLinks}"
                             data-sly-unwrap>
                            <li class="${navbarItem.cssClass}">
                                <a href="${navbarItem.linkURL @extension='html'}">
                                    ${navbarItem.linkTitle}
                                </a>
                            </li>
                        </div>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>



<div data-sly-call="${clientlib.js @ categories='SAP.developers.bootstrap,SAP.developers.bootstrap.resp,SAP.developer.structure.navbar'}"></div>
