
ul.icons {
    list-style-type: none;
    text-indent: -0.75em;
}

.icons {
    list-style: none;
    padding: 0;
}

.icons li {
    list-style: none;
    padding: 5px 0;
}
.icons li i {
    color: #fdb813;
    width: 0.75em;
}
