<div data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-use.youtube="com.epam.sap.developers.core.models.YouTube"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-use.templates="templates.html"
     data-sly-test.hasContent="${!youtube.empty}">
    <div data-sly-call="${clientlib.css @ categories='sap.dev.custom.youtube'}"></div>

    <sly data-sly-test="${youtube.onlyVideo}"
         data-sly-call="${templates.onlyVideo @ videoSrc=youtube.youtubeVideoSrc}">
    </sly>
    <sly data-sly-test="${!youtube.onlyVideo}">
        <div class="row-fluid video">
            <div class="span4">
                <h3 class="light">${youtube.title}</h3>
                <p>${youtube.description}</p>
                <sly data-sly-call="${templates.itemList @ itemList=youtube.itemList}"></sly>
            </div>
            <sly data-sly-call="${templates.notOnlyVideo @ videoSrc=youtube.youtubeVideoSrc}"></sly>
        </div>
    </sly>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>


