.column-title > p,
.column-title > h1,
.column-title > h2,
.column-title > h3,
.column-title > h4,
.column-title > h5,
.column-title > h6 {
    text-align: left;
    font-family: "BentonSansLight", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 40px;
}
