<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${clientlib.css @ categories='sap.dev.custom.event.listing'}"
     data-sly-test.hasContent="${properties.pathToPageWithEvents}"></sly>
    <div id="events-listing">
        <view-by servlet-url=${resource.path} has-content=${hasContent.isEmpty}></view-by>
        <event-listing :event-list="eventList"></event-listing>
    </div>
    <sly data-sly-call="${clientlib.js @ categories='SAP.developers.vue.js,SAP.developers.vue.resource.js,sap.dev.custom.event.listing'}"></sly>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>

