.btn {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: "BentonSansBold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    background: #808080;
    border: none;
    color: #ffffff;
    margin-bottom: 5px;
    padding: 10px 20px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #5a5a5a;
    color: #ffffff;
}
.btn.disabled,
.btn[disabled] {
    background: #999999;
    color: #4d4d4d;
}

.btn-primary {
    background-color: #f8b20c;
    background-image: -moz-linear-gradient(top, #fdb813, #efa902);
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(#fdb813),
        to(#efa902)
    );
    background-image: -webkit-linear-gradient(top, #fdb813, #efa902);
    background-image: -o-linear-gradient(top, #fdb813, #efa902);
    background-image: linear-gradient(to bottom, #fdb813, #efa902);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdb813', endColorstr='#ffefa902', GradientType=0);
    color: #333333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #fdb813;
    background-image: -moz-linear-gradient(top, #fdb813, #fdb813);
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(#fdb813),
        to(#fdb813)
    );
    background-image: -webkit-linear-gradient(top, #fdb813, #fdb813);
    background-image: -o-linear-gradient(top, #fdb813, #fdb813);
    background-image: linear-gradient(to bottom, #fdb813, #fdb813);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdb813', endColorstr='#fffdb813', GradientType=0);
    color: #333333;
}


